@tailwind base;
@tailwind components;
/* Write your utility classes here */
@tailwind utilities;

body {
  background-color: red;
}

.yasuo {
  background-repeat: no-repeat;
  background-position: center;
}